.App {
  text-align: center;
}
body{
  background-color: rgb(30,41,49);
}

.input-field{
  
  margin-top: 25px;
  text-align: center;
  
}
.search{
  width: 70%;
  

    color: #898F9C;

    padding: 0.5em 2em;

    text-align: center;
}

.search {
  background-color: #ffffff;
  color: #898F9C;
  padding: 0.5em 2em;
  text-align: center;
 
}
.movie-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  /* background-color: bisque; */
}
.movie-wrapper p{
  color: white;
}

.movie-card{
  /* align-items: center; */
  border: 1px solid black;
  width: 225px;
  margin: 20px auto;
  justify-content: space-evenly;  
}

.movie-thumbnail{
  width: 100%;
  /* border: 1px solid rgb(202, 18, 18); */
 
}
/* .movie-title{
display :none
  
} */
